nav {
  height: 120px;
  width: 100%;
  
  color: #FFFFFF;
  padding: 0 1.5em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
}

nav span {
  font-family: 'Bungee', sans-serif;
}

nav div {
  display: flex;
  align-items: center;
  flex-direction: column;
}